.nav-link {
    display: flex;
    gap: 20px;
    font-size: 18px;
    font-weight: 400;

}

.nav-link li {
    list-style: none;

}

.nav-link li a {
    text-decoration: none;
    color: rgb(203, 222, 135);
}